:root {
  --dark: #292725;
  --highlightDark: #002323;
  --highlightLight: #AF5315;
  --light: #FFCFA0
}

body {
  background-color: var(--light);
}

#navbar {
  background-color: var(--dark);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 4rem;
}

#links {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#navbarTitle {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbarLink {
  line-height: 4rem;
  padding: 0 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: .1s linear;
}

.navbarLink:hover {
  transition: .1s linear;
  background-color: var(--highlightLight);
}

#container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.content {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--dark);
  font-size: 3rem;
  text-transform: uppercase;
}